#Backend
NODE_ENV="development"
PORT=8080
DATABASE_URL=""
REDIS_URL="redis://localhost:6379"
CLIENT_URL="http://localhost:3000"

ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE=""



#Frontend
backend_URI = "http://localhost:8080/api"